/***************************
PAGE loader
***************************/

.page-appear {
   opacity: 0.4;
}

.page-appear.page-appear-active {
   opacity: 1;
   transition: opacity 1s cubic-bezier(.165, .84, .44, 2);
}


/***************************
POST loader
***************************/


@-webkit-keyframes slideIn {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100px, 0);
   } 100% {
     opacity: 1;
     -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOut {
  0% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
   } 100% {
     opacity: 0;
     -webkit-transform: translate3d(0, 0, -1300px);
  }
}

@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
   } 100% {
     opacity: 1;
     transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOut {
  0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   } 100% {
     opacity: 0;
     transform: translate3d(0, 0, -1300px);
  }
}

.postLoad-enter {
  -webkit-animation: slideIn 1s cubic-bezier(.165, .84, .44, 1);
  -moz-animation: slideIn 1s cubic-bezier(.165, .84, .44, 1);
  -ms-animation: slideIn 1s cubic-bezier(.165, .84, .44, 1);
  -o-animation: slideIn 1s cubic-bezier(.165, .84, .44, 1);
  animation: slideIn 1s cubic-bezier(.165, .84, .44, 1);
}

.postLoad-leave {
  -webkit-animation: slideOut 1s cubic-bezier(.165, .84, .44, 1);
  -moz-animation: slideOut 1s cubic-bezier(.165, .84, .44, 1);
  -ms-animation: slideOut 1s cubic-bezier(.165, .84, .44, 1);
  -o-animation: slideOut 1s cubic-bezier(.165, .84, .44, 1);
  animation: slideOut 1s cubic-bezier(.165, .84, .44, 1);
}

.loader-display {
  opacity: 1;
}

.loader-notdisplay {
  opacity: 0.3;
}

.infinite {
  padding-bottom: 30px;
}
