/*****************************
Main Layout
*****************************/



.julia-about {
  width: 812px;
  margin: auto auto;
  margin-top: 100px;
}

.julia-about form:nth-child(2) {
  margin-top: -20px;
}

.about-form-master p {
  margin-left: 0 !important;
}

.landscape-thumbnail {
  width: 228px !important;
}

.landscape-thumbnail + .form-text {
  float: left !important;
  margin-top: 10px !important;
}

.landscape-thumbnail + .form-text input {
  margin: 0 !important;
  margin-left: -1px !important;
  width: 230px;
}

.about-form-header {
  display: block;
  width: 230px;
  margin-bottom: 11px;

}

.landscape-thumbnail img {
  max-width: 228px !important;
  max-height: auto !important;
}

.landscape-block {
  height: 244px;
  width: 230px;
  float: left;
  margin-top: 21px;
}

.landscape-block > .photo-fixer {
  width: 230px;
  margin-right: 0 !important;
}



.description-form {
  width: 510px !important;
  height: 178px !important;
  margin: 0 !important;
  margin-top: -1px !important;
}

.description-block {
  margin-top: 21px;
  width: 512px;
  float: right;
  position: relative;
  left: -29px;
}


.contact-block {
  width: 500px;
  height: 265px;
}

.contact-form {
  width: 500px;
}

.contact-block p {
  margin-bottom: 5px !important;
}

.contact-form input:nth-of-type(2n+1) {
  margin-left: 0 !important;
}

/*.contact-form input:nth-of-type(1) {
  background-color: red;
  margin-top: 0 !important
}*/

.contact-form input:nth-of-type(2n+2) {
  margin-left: 32px !important;
  margin-right: 0 !important;
}

.gratitude-block {
  width: 160px;
  float: right;
  position: relative;
  right: 112px;
}

.gratitude-block p {
  margin-bottom: 5px;
  width: 140px;
}

.gratitude-block button {
  float: none !important;
  height: 34px;
  margin-top: 5px !important;
}

.form-buttons {
  width: 300px;
  height: 100px;
  margin-top: 3px;
  margin-right: 21px;
  float: right;
}


.description-photos {
  margin-top: 144px;
  margin-left: 1px;
  width: 812px;
}

.description-photos input {
  width: 229px;
}

.description-photos p {
  margin-top: 45px !important;
  margin-right: -1px !important;
}

.description-photos div:nth-of-type(10) {
  margin-bottom: 0px !important;
}

.description-photos .photo-fixer:nth-of-type(2n+1) {
  /*margin-right: 62px;*/
}



/*****************************
Great People & Modal Layout
*****************************/

.form-gratitude {
  width: 552px !important;
}

.form-gratitude .form-outer {
  width: 552px !important;
}

.form-gratitude p {
  width: 100px;
  float: left;
  margin-left: 0 !important;
}

.addNew {
  padding-right: 0 !important;
  padding-top: 0 !important;
  margin-top: -1px;
}

.form-gratitude .form-text {
  border-bottom: 1px solid #e1e1e1;
  width: 520px;
  margin-right: 10px !important;
  margin-bottom: 11px !important;
}

.gratitude-body {
  margin-top: 16px;
  margin-left: 5px;
  height: 300px;
  width: 530px;
  overflow-y: auto;
}

.gratitude-person {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 10px;
}

.gratitude-body .gratitude-person:nth-of-type(1) {
  margin-top: 6px;
}

.gratitude-body .gratitude-person:last-child {
  padding-bottom: 28px;
}

.gratitude-person input, .gratitude-person button {
  width: 211px;
  margin: 0 !important
}

.gratitude-footer {
  width: 552px !important;
  height: 50px;
  position: absolute !important;
  bottom: 0 !important;
  padding-right: 6px !important;
}

.gratitude-person button {
  width: 34px;
  height: 34px;
  text-align: center;
  padding-top: 4px !important;
  border-color: rgba(43, 43, 43, 0.4);
  color: rgba(43, 43, 43, 0.4);
}

.gratitude-person button:nth-of-type(1) {
  font-size: 22px;
  font-weight: 200;
  padding-top: 5px !important;
}



.gratitude-body::-webkit-scrollbar {
    display: none;
}

.gratitude-body button {
  /*margin: 0;*/
}
